# Exercici 1

In [32]:
a = 2
b = 9

multiplicacio = a*b
suma = a+b 

if multiplicacio <= 1000: 
    print(multiplicacio) 
else: 
    print(suma)

18

# Exercici 2

In [33]:
i=0
while (i <= 14):
    i +=1
    print (i, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,

# Exercici 3

In [35]:
for i in range (1,16):
    print (i, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,

# Exercici 4

In [1]:
num = int(input("Introduce un número: "))
print  (int ((num * (num+1)) /2))

Introduce un número: 12
78

# Exercici 5

In [7]:
num = int(input("Introduce un número: "))
for i in range 
    res=i*num
    print  (("%d x %d = %d") % (num,i,res))

Introduce un número: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Exercici 6

In [8]:
list=[20,60,80,100]
print ("La llista és: ", list)
llenguatges_invertits=list[::-1]
print("Els llenguatges invertits són: ", llenguatges_invertits)

La llista és:  [20, 60, 80, 100]
Els llenguatges invertits són:  [100, 80, 60, 20]

# Exercici 7

In [9]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (max(x))

10

# Exercici 8

In [15]:
string = "&#Pr@j3ctE#D4M#&"
alphabets = digits = special = 0

for i in range(len(string)):
    if(string[i].isalpha()):
        alphabets = alphabets + 1
    elif(string[i].isdigit()):
        digits = digits + 1
    else:
        special = special + 1
        
print("\nNúmero total de letras del alfabeto en este String :  ", alphabets)
print("Número total de dígitos en este String:  ", digits)
print("Número total de carácteres especiales en este String :  ", special)

Número total de letras del alfabeto en este String :   8
Número total de dígitos en este String:   2
Número total de carácteres especiales en este String :   6

# EJEMPLOS

In [5]:
a=3
b=5
a+b

8

In [6]:
x=3.2
y=2.1
x*y

6.720000000000001

In [11]:
nom='Paulino '
cognom='Giron'
nom_complet=nom + cognom

nom_complet

'Paulino Giron'

In [12]:
vector =[1,2,2,3,3]
vector

[1, 2, 2, 3, 3]

In [14]:
matriu=[[1,3,2,1,],[7,8,5,4,],[5,8,7,1]]
matriu

[[1, 3, 2, 1], [7, 8, 5, 4], [5, 8, 7, 1]]

In [16]:
for i in range (1,12):
    print (i, end=',')

1,2,3,4,5,6,7,8,9,10,11,

In [18]:
i=0
while (i <= 9):
    i +=1
    print (i, end=',')

1,2,3,4,5,6,7,8,9,10,